name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]

jobs:
  test:

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 24
      uses: actions/setup-java@v4
      with:
        java-version: '24'
        distribution: 'adopt'

    - name: Build with Gradle Wrapper
      run: ./gradlew test
